body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
  }
  
  .calculator {
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #EC5578;
  }
  
  #display {
    font-size: 2rem;
    padding: 20px;
    text-align: right;
    border: none;
    width: 100%;
    box-sizing: border-box;
    color: black;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
  }
  
  button {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ccc;
  }
  